*{margin: 0;padding: 0;}
body{
	background-color: #1F1A16;
	color: #f0f0f0;
	font-family: "Microsoft YaHei","YouYuan","Arial";
}
ul{
	list-style: none;
}
a:hover{
	text-decoration: none;	
}

.top .navbar{
	margin-bottom: 0;
	min-height: 40px;
	border: 0;
	border-radius: 0;
	background: #1f1a16;
}
.top .container{
	position: relative; /*下拉框相对于container定位，container的宽度为1170px*/
}
.top .navbar-brand img{
	margin-top: 20px;
	margin-bottom: 20px;
}
.top .item-list>li{
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 2px solid transparent;
	
}
.top .item-list>li:hover{
	border-top: 2px solid orange;
}
.top .item-list>li>a,.top .item-list>li>a:focus{
	font-size: 16px;
	font-family: "YouYuan","Microsoft YaHei","Arial";
	color: #fff;
}
.top .item-list>li>a:hover{
	color: orange;	
}
.top .item-list>.open>a,.top .item-list>.open>a:hover,.top .item-list>.open>a:focus{
	color: orange;
	background-color: transparent;	
}
.top .dropdown-menu{
	left: auto;
	padding: 0;
	border-top: 2px solid orange !important;
	background: #1f1a16;
	overflow: hidden;
}

.top .dropdown-menu.menu2{
	left: 0;
	right: 0;
}
.top .dropdown{
	position: static;  /*改变dropdown-menu的父级定位*/
}
.sub-item{
	padding: 0;
	border-right: 1px solid #3d3834;
	background: #1F1A16;
	box-sizing: border-box;
}
.sub-item a{
	display: block;
	color: #fff;
	font-size: 14px;
	font-family: Microsoft YaHei;
	text-align: center;
}
.sub-item .item-link p{
	padding: 5px 0;
	margin: 0;
}
.sub-item .item-link p i{
	font-size: 12px;
}
.sub-item .item-link:hover{
	background: orange;
}
.sub-item a img{
	margin: 0;
	padding: 0 15px 10px;
}

/*div.banner*/
.banner .carousel-inner .item{
	overflow: hidden;
}
.banner .carousel-inner .item img{
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	width: 1920px;
	height: auto;
	max-width: 1920px;
	max-height: 450px;
}
.banner .carousel-control{	
	top: 50%;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background: #f0f0f0; 
	opacity: .9;
	z-index: 10000;
	background: url(../img/skin.png) no-repeat #fff !important;
}
.banner .carousel-control.left{
	background-position: 0px 0px;
	left: 10px;
}
.banner .carousel-control.left:hover{
	background-position: 0px -75px !important;
}
.banner .carousel-control.right{
	background-position: -150px 0px !important;
	right: 10px;
}
.banner .carousel-control.right:hover{
	background-position: -150px -75px !important;
}

/*div.content*/
.content{
	margin-top: 40px;
}
.home-top{
	margin-bottom: 20px;
}
.home-top-left .brand{
	border: 1px solid #3d3834;
}
.brand-head{	
	margin: 0;
	padding: 10px 10px;
	border-top: 3px solid orange;
	border-bottom: 1px solid #3d3834;
	font-size: 16px;
}
#brandCarousel{
	height: 167px;
	margin-top: 10px;
}
.brand-img{
	width: 100%;
	max-height: 165px;
}
.brand-title{
	position: absolute;
	top: 50%;
	padding: 10px 10px;
	background: rgba(0,0,0,0.6) repeat;
	transform: translateY(-50%);
}
.brand-title span{
	font-size: 14px;
	color: #fff;
}
#brandCarousel .carousel-control{	
	display: none;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	background: #dd9440; 
	opacity: .8;
	z-index: 10000;
}
#brandCarousel:hover .carousel-control{
	display: block;
}
#brandCarousel .carousel-control:hover{
	background: #1fb9d7; 
}
.brand-list ul li{
	position: relative;
	margin: 0 12px;
	padding: 10px 0 5px 16px;
	border-bottom: 1px dotted #3d3834;
	
}
.brand-list ul li i{
	position: absolute;
	left: 2px;
	line-height: 40px;
	color: #4f4a47;
	font-size: 12px;
}
.brand-list ul li a{	
	font-size: 13px;
	color: #f0f0f0;
}
.brand-list ul li a:hover{
	color: orange;
}

/*.home-top-right*/

#owl-thumbct{
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
#owl-product-thumb .item{
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	color: #707070;
	

}
#owl-product-thumb .item a{
	display: block;
    background: #eee;
}
#owl-product-thumb .item a:hover{text-decoration:none;}
#owl-product-thumb .item a.active p.thumb-title{
	border-bottom: 2px solid #DD9440;
	color: #DD9440;
}
#owl-product-thumb .item p.thumb-title{   
	border-bottom: 2px solid #4A4541;
	line-height: 27px;
	color: #f0f0f0;
	background: #2E2926;
}

/*home-middle*/
.home-middle{
	padding-top: 10px;
	border-top: 1px dotted #3d3834;
}
.home-middle-left>h2,.home-middle-right h2{
	padding-left: 15px;
	margin-top: 10px;
	font-size: 25px;
}
.home-middle h2 a{
	color: #fff;
}
.home-middle h2 a:hover{
	color: orange;
}
.home-middle h2 span{
	font-size: 18px;
}
.home-middle-left-content{
	border: 1px dotted #3d3834;
	overflow: hidden;	
}
.home-middle-left-content dl{
	padding: 15px 0;
	margin-bottom: 0;
	border-bottom: 1px dotted #3d3834;
	overflow: hidden;
}
.home-middle-left-content dl dd{
	line-height: 24px;
}
.home-middle-left-content dl dd h2{
	padding-left: 14px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #3d3834;
	font-size: 14px;
	color: #f0f0f0;
}
.home-middle-right div{
	padding-left: 10px;
}
.home-middle-right .size-full{
	width: 100%;
}
.home-bottem{
	padding-top: 30px;
}
/*bottom*/
.bottom{
	margin-top: 30px;
	min-width: 1270px;
	height: 300px;
	background: linear-gradient(to right, rgba(66,44,31,1) 0%, rgba(50,35,28,1) 0%, rgba(50,35,28,1) 50%, rgba(66,44,31,1) 50%, rgba(50,35,28,1) 100%);
}
.bottom .valign-wrapper{
	height: 100%;
}

.bottom-left .bottom-logo{
	margin-bottom: 50px;
	vertical-align: middle;
}
.bottom-left ul li{
	padding-left: 20px;
	font-size: 12px;
	line-height: 24px;
	color: #af8259;
}
.bottom-left-memo p{	
	margin-bottom: 20px;
	padding-right: 20px;
	font-size: 13px;
}
.bottom-left-memo ul li{
	padding-left: 0;
	color: #fff;
	font-size: 12px;
}
.bottom-right ul li{
	padding-left: 10px;
}
.bottom-right ul li:nth-of-type(2){
	padding: 30px 0 30px 10px;
	font-size: 35px;
	font-weight: 600;
	color: #af8259;
}
.bottom-right ul li:nth-of-type(3){
	font-size: 12px;
}
.bottom-right ul li i{
	font-size: 12px;
}
.bottom-right h2{
	font-size: 14px;
	text-align: center;
}

/*flink*/
.flink {
	margin: 30px 0;
}
.flink h2{
	font-size: 14px;
}
.flink ul li{
	float: left;
	padding: 5px 10px;
}
.flink ul li a{
	color: #a9a9a9;
	font-size: 12px;
}

@media (min-width: 768px){
	.container{
		width: 1170px;
	}
	.set-min-width .sub-item{
		min-width: 200px; 
	}
	.sub-item a img{
		max-width: 200px;
	}
	.lr_arrow .next{
		position: absolute;
		top: 40%;
		right: 0;
		color: #9b9b9b;
	}
	.lr_arrow .prev{
		position: absolute;
		top: 40%;
		left: 0;
		color: #9b9b9b;
	}
	.home-bottem .home-bottem-left{
		padding-right: 0;
	}
	.home-bottem .home-bottem-right{
		padding-left: 0;
	}
	.bottom  .location-middle{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.bottom-left .bottom-logo{
		width: 150px;
	}
}
@media (max-width: 767px){
	.top .navbar-brand{
		padding-top: 0; 
	}
	.top .navbar-brand img{
		margin: 0 auto;
		width: 200px;
		margin-top: 8px;
	}
		
	.top .item-list>li{
		padding-top: 0;
		padding-bottom: 0px;
		border-top: 2px solid transparent;
	}
	.top .item-list>li:hover{
		border-top: 2px solid transparent;
	}
	.top .item-list>li>a,.top .item-list>li>a:focus{
		font-size: 14px;
	}
	.lr_arrow{
		display: none;
	}
	.home-middle-left-content dl dt img{
		width: 100%;
	}
	.bottom{
		min-width: 100%;
		height: auto;
		background: rgba(66,44,31,1) !important;
		padding-top: 30px;
		padding-bottom: 100px;
	}
	.bottom-logo{
		width: 80%;
	}
	.bottom-left-memo p,.bottom ul li{
		padding-left: 20px !important;
	}
}